/*
!appveyor.yml
!app
app/*

# code
!app/code
app/code/*
!app/code/community
app/code/community/*
!app/code/community/Oxipay

# design
!app/design
app/design/*
!app/design/frontend/
app/design/frontend/*
!app/design/frontend/base
app/design/frontend/base/*
!app/design/frontend/base/default
app/design/frontend/base/default/*
!app/design/frontend/base/default/template
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/oxipayments

# etc
!app/etc
app/etc/*
!app/etc/modules/
app/etc/modules/*
!app/etc/modules/Oxipay_Oxipayments.xml

# tests
!test

# local media file
!skin
skin/*
!skin/frontend
skin/frontend/*
!skin/frontend/base
skin/frontend/base/*
!skin/frontend/base/default
skin/frontend/base/default/*
!skin/frontend/base/default/images
skin/frontend/base/default/images/*
!skin/frontend/base/default/images/Oxipay

!skin/adminhtml
skin/adminhtml/*
!skin/adminhtml/base
skin/adminhtml/base/*
!skin/adminhtml/base/default
skin/adminhtml/base/default/*
!skin/adminhtml/base/default/images
skin/adminhtml/base/default/images/*
!skin/adminhtml/base/default/images/Oxipay


!.gitignore
