<?xml version="1.0"?>
<config>

    <!-- Module Metadata -->
    <modules>
        <Oxipay_Oxipayments>
            <version>oxipay_plugin_version_placeholder</version>
        </Oxipay_Oxipayments>
    </modules>
    <!-- End Module Metadata -->

    <!-- Dependency Injection Configuration -->
    <global>
        <!-- <module root>/Helper/Data.php -->
        <helpers>
            <oxipayments>
                <class>Oxipay_Oxipayments_Helper</class>
            </oxipayments>
        </helpers>

        <!-- Partial View Controllers -->
        <blocks>
            <oxipayments>
                <!-- <module root>/[Form|Info]/Oxipayments.php -->
                <class>Oxipay_Oxipayments_Block</class>
            </oxipayments>
        </blocks>
        <models>
            <!-- <module root/Model/Paymentmethod.php -->
            <oxipayments>
                <class>Oxipay_Oxipayments_Model</class>
            </oxipayments>
        </models>
        <events>
            <sales_order_creditmemo_refund>
                <observers>
                    <refundint>
                        <type>singleton</type>
                        <class>Oxipay_Oxipayments_Model_Observer</class>>
                        <method>do_refunding</method>
                    </refundint>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
        <resources>
            <!-- <module root/sql/oxipayments_setup/install-<version number>.php -->
            <oxipayments_setup>
                <setup>
                    <module>Oxipay_Oxipayments</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </oxipayments_setup>
        </resources>
    </global>
    <!-- End Dependency Injection Configuration -->

    <!-- Payment Method Default Configuration Values -->
    <default>
        <payment>
            <oxipayments>
                <active>0</active>
                <model>oxipayments/paymentmethod</model>
                <oxipay_approved_order_status>oxipay_processed</oxipay_approved_order_status>
                <title>Oxipay</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <gateway_url></gateway_url>
                <specificcountry>AU,NZ</specificcountry>
                <merchant_number></merchant_number>
                <api_key></api_key>
                <automatic_invoice>0</automatic_invoice> <!-- 0:No -->
                <email_customer>1</email_customer>
            </oxipayments>
        </payment>
        <oxipay>
            <cron>
                <pending_payment_timeout>5400</pending_payment_timeout> <!-- Not used yet -->
            </cron>
        </oxipay>
    </default>
    <!-- End Payment Method Default Configuration Values -->

    <!-- Crontab configuration -->
    <crontab>
        <jobs>
            <!-- <Oxipay_cancelOxipayPendingOrders>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>oxipayments/observer::cancelOxipayPendingOrders</model>
                </run>
            </Oxipay_cancelOxipayPendingOrders> -->
        </jobs>
    </crontab>
    <!-- End Crontab configuration -->

    <!-- Routing Configuration -->
    <frontend>
        <routers>
            <oxipayments>
                <use>standard</use>
                <args>
                    <module>Oxipay_Oxipayments</module>
                    <frontName>oxipayments</frontName>
                </args>
            </oxipayments>
        </routers>
    </frontend>
    <!-- End Routing Configuration -->


</config>
