<?xml version="1.0"?>
<config>

    <!-- Module Metadata -->
    <modules>
        <Oxipay_Oxipayments>
            <version>0.3.1</version>
        </Oxipay_Oxipayments>
    </modules>
    <!-- End Module Metadata -->

    <!-- Dependency Injection Configuration -->
    <global>
        <!-- <module root>/Helper/Data.php -->
        <helpers>
            <oxipayments>
                <class>Oxipay_Oxipayments_Helper</class>
            </oxipayments>
        </helpers>

        <!-- Partial View Controllers -->
        <blocks>
            <oxipayments>
                <!-- <module root>/[Form|Info]/Oxipayments.php -->
                <class>Oxipay_Oxipayments_Block</class>
            </oxipayments>
        </blocks>
        <models>
            <!-- <module root/Model/Paymentmethod.php -->
            <oxipayments>
                <class>Oxipay_Oxipayments_Model</class>
            </oxipayments>
        </models>
        <resources>
            <!-- <module root/sql/oxipayments_setup/install-<version number>.php -->
            <oxipayments_setup>
                <setup>
                    <module>Oxipay_Oxipayments</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </oxipayments_setup>
        </resources>
    </global>
    <!-- End Dependency Injection Configuration -->

    <!-- Payment Method Default Configuration Values -->
    <default>
        <payment>
            <oxipayments>
                <active>1</active>
                <model>oxipayments/paymentmethod</model>
                <oxipay_approved_order_status>oxipay_processed</oxipay_approved_order_status>
                <title>Oxipay</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <gateway_url></gateway_url>
                <merchant_number></merchant_number>
                <api_key></api_key>
                <automatic_invoice>0</automatic_invoice> <!-- 0:No -->
                <email_customer>1</email_customer>
            </oxipayments>
        </payment>
    </default>
    <!-- End Payment Method Default Configuration Values -->

    <!-- Routing Configuration -->
    <frontend>
        <routers>
            <oxipayments>
                <use>standard</use>
                <args>
                    <module>Oxipay_Oxipayments</module>
                    <frontName>oxipayments</frontName>
                </args>
            </oxipayments>
        </routers>
    </frontend>
    <!-- End Routing Configuration -->
</config>
